@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu+Condensed');

h1,h2,h3,h4,h5,h6{
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    margin-top: 10%
}
 a{
    font-family: 'Open Sans', sans-serif;
    text-align: center; 
}

p{
    font-family: 'Open Sans', sans-serif;
    text-align: center; 
    font-size: 15px;
    color: #e2e2e2;
}
body {
    border: 0;
    padding: 0;
    margin: 0;
    background: white;
    color: #000000;
    font-size: 2em;
    width: 100%;
    line-height: 1.5;
}

#settings{
    position: absolute;
    right:70px;
}

#logoff{
    position: absolute;
    right:0; 
    margin: 0px 20px;
}

header{
    background: linear-gradient(to right, rgba(106, 149, 66, 1), rgba(149, 188, 80, 1), rgba(210, 227, 150, 1), rgba(249, 249, 248, 1));
    /*background-color: #95bc50;*/
    width: 100%;
}

footer{
    position: fixed;
    bottom:0;
}

textarea{
    width: 900px;
    height: 400px;
    text-align: left;
    margin:auto;
}
.button{
    /*background-color: #45839e; */
    background: linear-gradient(to top right, rgba(0, 89, 155, 1), rgba(88, 149, 197, 1), rgba(249, 249, 248, 1));
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 25px 25px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover{
    background-color: red; /* Green */
    color: white;
}


.container{
    padding-bottom: 30px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 50%;
    background-color: #ffffff;
    border-radius: 25px;
    width:100%;
    text-align: center;
}



.home{
    position: relative;
    text-align: center;

}
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px 20px;
}

th, td {
    border-bottom: 1px solid #ddd;
}

tr.not_header:hover {
    background-color: #f5f5f5
}

#largeBox{
    padding-bottom: 30px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 50%;
    right:0;
    left:0;
    width:1000px;
    background-color: #ffffff; /* Light grey */
    border-radius: 25px;
} /* used for large sections of text/images */

h2.rounded{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


h2#largeBoxHeader{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

form{
    background-color: inherit;
    position:relative;
    top:50%;
    right:0;
    left:0;
}

.horz_nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.horz_nav_bar_item {
    float: left;
}

.horz_nav_bar_item .horz_nav_bar_link {
    display: block;
    color: #c5402f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.horz_nav_bar_item .horz_nav_bar_link:hover {
    background-color: #dddddd;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f9f9f8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #45839e;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f9f9f8;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.main {
    transition: margin-left .5s;
}

h2 {
    background: #e2e2e2;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.logout {
    padding-top: 12px;
}
